<%- include("header.ejs") %>
<div class="about">
  <p>
    Welcome to PDF-Merger, your go-to solution for quick and hassle-free PDF
    merging! Our simple yet powerful tool allows you to seamlessly combine two
    PDFs into a single, well-organized document. Whether you're merging reports,
    invoices, study materials, or important documents, we make the process
    smooth, secure, and lightning-fast.
  </p>

  <p>
    No need for complex software just upload your PDFs, click merge, and
    download your combined file in seconds. Our tool is designed to be
    lightweight, user-friendly, and completely free. Experience effortless
    document management with PDF-Merger today!
  </p>
</div>

<%- include("footer.ejs") %>
